.Formulário{ border-radius: 6px;
							 border: 6px;
							 border-style: solid;
							 background-color: white;
							 color: black;
				 }		

				 	.button {
    					background-color: green;
   					    border: none;
   					    color: white;
   					    padding: 15px 32px;
   					    text-align: center;
    					text-decoration: none;
    					display: inline-block;
    					font-size: 16px;
    					margin: 4px 2px;
    					cursor: pointer;
						}